<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>

        <File name="file" fileName="target/pulsar-bash-runtime.log"
              immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %C.%M[%L line] %p %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="all">
            <appender-ref ref="stdout"/>
            <appender-ref ref="file"/>
        </Root>
    </Loggers>
</Configuration>